<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dingdong">

    <application
        android:name=".DingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.HomePageActivity"/>
        <activity android:name=".chat.ChatDetailActivity"/>
        <activity android:name=".erp.sale.ui.GoodsListActivity"/>
        <service android:name=".service.DSocketService"/>
        <service android:name=".service.MyService"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>